.square-img.img-rounded
  - if who.images.any?
    = image_tag who.images.first.attachment.url(:product), class: 'img-responsive'
  - else
    = image_tag 'default_doctor_silhouette.jpg', class: 'img-rounded'