<h2>Doctor Search</h2>
<%= render 'search_form' %>
<hr>
<% @doctor_employments.all.each do |empl| %>
  [debug] Appointments count: <%= empl.appointments.count %><br>
  <%= render partial: 'doctor_card', locals: { empl: empl, for_search_page: true } %>
  <hr>
<% end %>
